{% extends "base.html.twig" %}

{% block title %}
	Page listant les livres
{% endblock title%}
{% block contenu %}
	<table class="table text-center monTableau" id="tableauLivres">
		<thead>
			<tr class="table-dark">
				<th>Titre</th>
				<th>Auteur</th>
				<th>Nombre de pages</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>
						<a href="/livres/{{livre._id}}">{{livre.nom}}</a>
					</td>
					<td>{{livre.auteur}}</td>
					<td>{{livre.page}}</td>
					<td>
						<a href="" class="btn btn-warning">Modifier</a>
					</td>
					<td>
						<a href="" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="" class="btn btn-success d-block">Ajouter</a>
{% endblock %}
